NodeRed.json
[{"id":"972eeb47.1e41f8","type":"arduino in","z":"a6e98aa1.9010c8","name":"","pin":"","state":"STRING","arduino":"ea11e04.f92f42","x":280,"y":100,"wires":[["ac88f352.cb29d","ec79c1af.d30ec"]]},{"id":"ac88f352.cb29d","type":"debug","z":"a6e98aa1.9010c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":470,"y":100,"wires":[]},{"id":"ec79c1af.d30ec","type":"json","z":"a6e98aa1.9010c8","name":"","property":"payload","action":"","pretty":false,"x":430,"y":200,"wires":[["5d9e983b.817668","695c17db.413de8"]]},{"id":"5d9e983b.817668","type":"debug","z":"a6e98aa1.9010c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":200,"wires":[]},{"id":"d99780d1.076bc","type":"ui_gauge","z":"a6e98aa1.9010c8","name":"","group":"34efc73b.539c38","order":0,"width":0,"height":0,"gtype":"gage","title":"Distância","label":"cm","format":"{{value}}","min":0,"max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":460,"wires":[]},{"id":"695c17db.413de8","type":"change","z":"a6e98aa1.9010c8","name":"","rules":[{"t":"move","p":"payload.distancia_cm","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":340,"wires":[["99655c53.c3c0e"]]},{"id":"99655c53.c3c0e","type":"mqtt out","z":"a6e98aa1.9010c8","name":"","topic":"oic/dist","qos":"","retain":"","broker":"60067d5.8416684","x":720,"y":340,"wires":[]},{"id":"980c2ad0.d22698","type":"mqtt in","z":"a6e98aa1.9010c8","name":"","topic":"oic/dist","qos":"2","broker":"60067d5.8416684","x":400,"y":460,"wires":[["d99780d1.076bc"]]},{"id":"57322245.ba548c","type":"arduino out","z":"a6e98aa1.9010c8","name":"","pin":"9","state":"SERVO","arduino":"ea11e04.f92f42","x":590,"y":700,"wires":[]},{"id":"6d3d62b7.92ddec","type":"ui_switch","z":"a6e98aa1.9010c8","name":"","label":"switch","group":"34efc73b.539c38","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"90","onvalueType":"num","onicon":"","oncolor":"","offvalue":"180","offvalueType":"num","officon":"","offcolor":"","x":430,"y":620,"wires":[["9011fb7b.8685c8"]]},{"id":"40a7c4f6.108a6c","type":"mqtt in","z":"a6e98aa1.9010c8","name":"","topic":"oic/switch","qos":"2","broker":"60067d5.8416684","x":420,"y":700,"wires":[["57322245.ba548c"]]},{"id":"9011fb7b.8685c8","type":"mqtt out","z":"a6e98aa1.9010c8","name":"","topic":"oic/switch","qos":"","retain":"","broker":"60067d5.8416684","x":600,"y":620,"wires":[]},{"id":"ea11e04.f92f42","type":"arduino-board","z":"","device":"COM3"},{"id":"34efc73b.539c38","type":"ui_group","z":"","name":"Default","tab":"21bb7de3.15b132","order":1,"disp":true,"width":"6","collapse":false},{"id":"60067d5.8416684","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"21bb7de3.15b132","type":"ui_tab","z":"","name":"Lixeira IoT","icon":"dashboard","order":1}]